service vendor.hvuleds-hal-2-0 /vendor/bin/hw/android.hardware.hvuleds@2.0-service.sony
    interface android.hardware.hvuleds@2.0::IHvuleds default
    class hal
    user root
    group root
    shutdown critical
